.container{
    padding: 185px 15px 135px;
    height: 200px;
    background-color: #e3e0cf !important;
}
.txt_color{
    color: #9fa8a3 !important;
}
.btn_style{
    background-color: #E3E0CF !important;
    color: #9fa8a3 !important;
}