.root {
    flex-grow: 1;
}
.appbar{
    background-color: #e3e0cf !important;
}
.menuButton {
    margin-right: spacing(2);
    color: #9fa8a3 !important;
}
.title {
    flex-grow: 1;
    text-align: center;
    color: #9fa8a3 !important;
}
.link {
    color: #9fa8a3 !important;
}
.shoeicon {
    height: 46;
}